<html>
  <head>
    <title>Activate Your Account</title>
  </head>
  <body>
    <h1>Hello {{fullname}},</h1>
    <p>Your activation code is: <strong>{{code}}</strong></p>
    <p>Company: {{company}}</p>
    <p>Company Address: {{company_address}}</p>
    <p>Click <a href='{{redirect_url}}'>here</a> to activate your account.</p>
    <p>Privacy Policy: <a href='{{privacy_policy_url}}'>Privacy Policy</a></p>
    <p>Support: <a href='{{support_url}}'>Support</a></p>
    <p>End Subscription: <a href='{{end_subscription}}'>End Subscription</a></p>
  </body>
</html>